/* STYLE RESET */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* Other basic element style */
body{
    background:#1A1A1A;
}
#popup_left {
    width: 270px;
    height:270px;
    padding:10px 20px 20px 20px;
    font-family: Arial, sans-serif;
    font-size: 10pt;
    background-color: rgba(255,255,255,0.92);
    border-radius: 4px;
    position: absolute;
    display: none;
    text-align: left;
    overflow: hidden;
  }
  
#popup_left > h2{
    font-size: 15px;
    color:#7f8488;
    font-weight: 600;
    margin-top:10px;
}
#popup_left > p{
    color:#525e6a;
    font-size: 24px;
    margin-top:10px;
    margin-bottom: 0px;
    font-weight: 900;
}
#popup_left > h4{
    font-weight: 500;
    font-size: 9px;
    margin-top:3px;
    display: block;
}
#popup_left text{
    font-size: 10px;
}

#popup_down{
    width: 160px;
    padding:10px;
    font-family: Arial, sans-serif;
    font-size: 10pt;
    background-color:rgba(255,255,255,0.92);
    border-radius: 4px;
    position: absolute;
    display: none;
}
#popup_down::before{
    content: "";
    width: 0px;
    height: 0px;
    border:10px solid rgba(255,255,255,0.92);
    border-top-color:transparent;
    border-right-color:transparent;
    border-left-color:transparent;
    position: absolute;
    left: 85px;
    top: -20px;
}
#popup_down > h3{
    font-size: 10px;
    color:#7f8488;
    font-weight: 600;
    margin-top:10px;
}
#popup_down > p{
    color:#525e6a;
    font-size: 15px;
    margin-top:4px;
    font-weight: 900;
}
#popup_down > hr{
    margin-top:4px;
}
#popup_down> .divImg{
    height:100px;
    background-size: cover;
}


/* svg style below */
.st0{display:none;}
	.st1{display:inline;fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#675C48;stroke-miterlimit:10;}
	.st2{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#675C48;stroke-miterlimit:10;}
	.st3{display:inline;}
	.st4{display:inline;fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#675C48;stroke-width:5;stroke-miterlimit:10;}
	.st5{display:inline;fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#675C48;stroke-width:3;stroke-miterlimit:10;}
	
		.st6{display:inline;opacity:0.6;fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#675C48;stroke-width:4;stroke-miterlimit:10;}
	
		.st7{display:inline;opacity:0.6;fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#675C48;stroke-width:2;stroke-miterlimit:10;}
	.st8{display:inline;fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#675C48;stroke-width:2;stroke-miterlimit:10;}
	.st9{display:inline;fill-rule:evenodd;clip-rule:evenodd;fill:#675C48;}
	.st10{opacity:0.6;fill:none;stroke:#7E8083;stroke-width:0.5;stroke-miterlimit:10;}
	.st11{opacity:0.6;fill:none;stroke:#7E8083;stroke-width:0.25;stroke-miterlimit:10;}
	.st12{opacity:0.6;fill:none;stroke:#7E8083;stroke-width:0.1;stroke-miterlimit:10;}
	.st15-12{opacity:0.6;fill:none;stroke:#7E8083;stroke-width:0.1;stroke-miterlimit:10;}

    .st13{fill:none;stroke:#A5A7AA;stroke-width:0.25;stroke-miterlimit:10;}

    .st14{opacity:0.6;fill:#D81477;}
    .st81-14{opacity:0.6;fill:#D81477;}
    .st80-14{opacity:0.6;fill:#D81477;}
    .st79-14{opacity:0.6;fill:#D81477;}
    .st14{opacity:0.6;fill:#D81477;}
    .st78-14{opacity:0.6;fill:#D81477;}
    .st75-14{opacity:0.6;fill:#D81477;}
    .st70-14{opacity:0.6;fill:#D81477;}
    .st66-14{opacity:0.6;fill:#D81477;}
    .st65-14{opacity:0.6;fill:#D81477;}
    .st63-14{opacity:0.6;fill:#D81477;}
    .st62-14{opacity:0.6;fill:#D81477;}
    .st60-14{opacity:0.6;fill:#D81477;}
    .st58-14{opacity:0.6;fill:#D81477;}
    .st55-14{opacity:0.6;fill:#D81477;}
    .st53-14{opacity:0.6;fill:#D81477;}
    .st52-14{opacity:0.6;fill:#D81477;}
    .st51-14{opacity:0.6;fill:#D81477;}
    .st49-14{opacity:0.6;fill:#D81477;}
    .st37-14{opacity:0.6;fill:#D81477;}
    .st33-14{opacity:0.6;fill:#D81477;}
    .st32-14{opacity:0.6;fill:#D81477;}
    .st29-14{opacity:0.6;fill:#D81477;}
    .st28-14{opacity:0.6;fill:#D81477;}
    .st25-14{opacity:0.6;fill:#D81477;}
    .st21-14{opacity:0.6;fill:#D81477;}
    .st20-14{opacity:0.6;fill:#D81477;}
    .st19-14{opacity:0.6;fill:#D81477;}
    .st18-14{opacity:0.6;fill:#D81477;}
    .st17-14{opacity:0.6;fill:#D81477;}
    .st16-14{opacity:0.6;fill:#D81477;}
    .st15-14{opacity:0.6;fill:#D81477;}
    .st9-14{opacity:0.6;fill:#D81477;}
    .st7-14{opacity:0.6;fill:#D81477;}
    .st2-14{opacity:0.6;fill:#D81477;}
    .st014{opacity:0.6;fill:#D81477;}
    .st15{fill:#D2816D;}
    
    .st16{opacity:0.81;fill:#F1AF1F;}
    .st81-16{opacity:0.81;fill:#F1AF1F;}
    .st80-16{opacity:0.81;fill:#F1AF1F;}
    .st79-16{opacity:0.81;fill:#F1AF1F;}
    .st78-16{opacity:0.81;fill:#F1AF1F;}
    .st77-16{opacity:0.81;fill:#F1AF1F;}
    .st76-16{opacity:0.81;fill:#F1AF1F;}
    .st75-16{opacity:0.81;fill:#F1AF1F;}
    .st73-16{opacity:0.81;fill:#F1AF1F;}
    .st72-16{opacity:0.81;fill:#F1AF1F;}
    .st71-16{opacity:0.81;fill:#F1AF1F;}
    .st68-16{opacity:0.81;fill:#F1AF1F;}
    .st28-16{opacity:0.81;fill:#F1AF1F;}
    .st67-16{opacity:0.81;fill:#F1AF1F;}
    .st66-16{opacity:0.81;fill:#F1AF1F;}
    .st65-16{opacity:0.81;fill:#F1AF1F;}
    .st64-16{opacity:0.81;fill:#F1AF1F;}
    .st63-16{opacity:0.81;fill:#F1AF1F;}
    .st61-16{opacity:0.81;fill:#F1AF1F;}
    .st58-16{opacity:0.81;fill:#F1AF1F;}
    .st53-16{opacity:0.81;fill:#F1AF1F;}
    .st49-16{opacity:0.81;fill:#F1AF1F;}
    .st46-16{opacity:0.81;fill:#F1AF1F;}
    .st44-16{opacity:0.81;fill:#F1AF1F;}
    .st42-16{opacity:0.81;fill:#F1AF1F;}
    .st38-16{opacity:0.81;fill:#F1AF1F;}
    .st37-16{opacity:0.81;fill:#F1AF1F;}
    .st36-16{opacity:0.81;fill:#F1AF1F;}
    .st35-16{opacity:0.81;fill:#F1AF1F;}
    .st33-16{opacity:0.81;fill:#F1AF1F;}
    .st31-16{opacity:0.81;fill:#F1AF1F;}
    .st24-16{opacity:0.81;fill:#F1AF1F;}
    .st23-16{opacity:0.81;fill:#F1AF1F;}
    .st22-16{opacity:0.81;fill:#F1AF1F;}
    .st21-16{opacity:0.81;fill:#F1AF1F;}
    .st14-16{opacity:0.81;fill:#F1AF1F;}
    .st13-16{opacity:0.81;fill:#F1AF1F;}
    .st12-16{opacity:0.81;fill:#F1AF1F;}
    .st11-16{opacity:0.81;fill:#F1AF1F;}
    .st9-16{opacity:0.81;fill:#F1AF1F;}
    .st6-16{opacity:0.81;fill:#F1AF1F;}
    .st5-16{opacity:0.81;fill:#F1AF1F;}
    .st3-16{opacity:0.81;fill:#F1AF1F;}
    .st016{opacity:0.81;fill:#F1AF1F;}

    
    .st17{opacity:0.81;fill:#00957F;}
    .st81-17{opacity:0.81;fill:#00957F;}
    .st79-17{opacity:0.81;fill:#00957F;}
    .st78-17{opacity:0.81;fill:#00957F;}
    .st77-17{opacity:0.81;fill:#00957F;}
    .st76-17{opacity:0.81;fill:#00957F;}
    .st74-17{opacity:0.81;fill:#00957F;}
    .st72-17{opacity:0.81;fill:#00957F;}
    .st68-17{opacity:0.81;fill:#00957F;}
    .st67-17{opacity:0.81;fill:#00957F;}
    .st66-17{opacity:0.81;fill:#00957F;}
    .st65-17{opacity:0.81;fill:#00957F;}
    .st64-17{opacity:0.81;fill:#00957F;}
    .st63-17{opacity:0.81;fill:#00957F;}
    .st53-17{opacity:0.81;fill:#00957F;}
    .st44-17{opacity:0.81;fill:#00957F;}
    .st43-17{opacity:0.81;fill:#00957F;}
    .st42-17{opacity:0.81;fill:#00957F;}
    .st41-17{opacity:0.81;fill:#00957F;}
    .st33-17{opacity:0.81;fill:#00957F;}
    .st32-17{opacity:0.81;fill:#00957F;}
    .st31-17{opacity:0.81;fill:#00957F;}
    .st29-17{opacity:0.81;fill:#00957F;}
    .st28-17{opacity:0.81;fill:#00957F;}
    .st26-17{opacity:0.81;fill:#00957F;}
    .st25-17{opacity:0.81;fill:#00957F;}
    .st24-17{opacity:0.81;fill:#00957F;}
    .st23-17{opacity:0.81;fill:#00957F;}
    .st22-17{opacity:0.81;fill:#00957F;}
    .st14-17{opacity:0.81;fill:#00957F;}
    .st5-17{opacity:0.81;fill:#00957F;}



    .st18{opacity:0.81;fill:#0586C4;}
    .st81-18{opacity:0.81;fill:#0586C4;}
    .st78-18{opacity:0.81;fill:#0586C4;}
    .st75-18{opacity:0.81;fill:#0586C4;}
    .st75-180{opacity:0.81;fill:#0586C4;}
    .st73-18{opacity:0.81;fill:#0586C4;}
    .st72-18{opacity:0.81;fill:#0586C4;}
    .st72-180{opacity:0.81;fill:#0586C4;}
    .st71-18{opacity:0.81;fill:#0586C4;}
    .st67-18{opacity:0.81;fill:#0586C4;}
    .st66-18{opacity:0.81;fill:#0586C4;}
    .st65-18{opacity:0.81;fill:#0586C4;}
    .st65-180{opacity:0.81;fill:#0586C4;}
    .st63-18{opacity:0.81;fill:#0586C4;}
    .st63-180{opacity:0.81;fill:#0586C4;}
    .st62-18{opacity:0.81;fill:#0586C4;}
    .st62-180{opacity:0.81;fill:#0586C4;}
    .st60-18{opacity:0.81;fill:#0586C4;}
    .st60-180{opacity:0.81;fill:#0586C4;}
    .st59-18{opacity:0.81;fill:#0586C4;}
    .st58-18{opacity:0.81;fill:#0586C4;}
    .st58-180{opacity:0.81;fill:#0586C4;}
    .st55-18{opacity:0.81;fill:#0586C4;}
    .st55-180{opacity:0.81;fill:#0586C4;}
    .st53-18{opacity:0.81;fill:#0586C4;}
    .st53-180{opacity:0.81;fill:#0586C4;}
    .st52-18{opacity:0.81;fill:#0586C4;}
    .st52-180{opacity:0.81;fill:#0586C4;}
    .st51-18{opacity:0.81;fill:#0586C4;}
    .st49-18{opacity:0.81;fill:#0586C4;}
    .st49-180{opacity:0.81;fill:#0586C4;}
    .st48-18{opacity:0.81;fill:#0586C4;}
    .st48-180{opacity:0.81;fill:#0586C4;}
    .st46-180{opacity:0.81;fill:#0586C4;}
    .st46-18{opacity:0.81;fill:#0586C4;}
    .st45-18{opacity:0.81;fill:#0586C4;}
    .st44-18{opacity:0.81;fill:#0586C4;}
    .st38-18{opacity:0.81;fill:#0586C4;}
    .st37-180{opacity:0.81;fill:#0586C4;}
    .st37-18{opacity:0.81;fill:#0586C4;}
    .st36-18{opacity:0.81;fill:#0586C4;}
    .st32-18{opacity:0.81;fill:#0586C4;}
    .st31-18{opacity:0.81;fill:#0586C4;}
    .st24-180{opacity:0.81;fill:#0586C4;}
    .st24-18{opacity:0.81;fill:#0586C4;}
    .st24-18{opacity:0.81;fill:#0586C4;}
    .st21-18{opacity:0.81;fill:#0586C4;}
    .st20-18{opacity:0.81;fill:#0586C4;}
    .st20-180{opacity:0.81;fill:#0586C4;}
    .st19-18{opacity:0.81;fill:#0586C4;}
    .st19-180{opacity:0.81;fill:#0586C4;}
    .st18-18{opacity:0.81;fill:#0586C4;}
    .st18-180{opacity:0.81;fill:#0586C4;}
    .st18{opacity:0.81;fill:#0586C4;}
    .st17-18{opacity:0.81;fill:#0586C4;}
    .st16-18{opacity:0.81;fill:#0586C4;}
    .st15-18{opacity:0.81;fill:#0586C4;}
    .st12-18{opacity:0.81;fill:#0586C4;}
    .st9-18{opacity:0.81;fill:#0586C4;}
    .st8-18{opacity:0.81;fill:#0586C4;}
    .st7-18{opacity:0.81;fill:#0586C4;}
    .st7-180{opacity:0.81;fill:#0586C4;}
    .st2-18{opacity:0.81;fill:#0586C4;}
    .st2-180{opacity:0.81;fill:#0586C4;}
    .st018{opacity:0.81;fill:#0586C4;}
    .st180{opacity:0.81;fill:#0586C4;}


    .st19{opacity:0.81;fill:#EE99B5;}
    .st81-19{opacity:0.81;fill:#EE99B5;}
    .st75-19{opacity:0.81;fill:#EE99B5;}
    .st73-19{opacity:0.81;fill:#EE99B5;}
    .st72-19{opacity:0.81;fill:#EE99B5;}
    .st71-19{opacity:0.81;fill:#EE99B5;}
    .st68-19{opacity:0.81;fill:#EE99B5;}
    .st66-19{opacity:0.81;fill:#EE99B5;}
    .st65-19{opacity:0.81;fill:#EE99B5;}
    .st63-19{opacity:0.81;fill:#EE99B5;}
    .st59-19{opacity:0.81;fill:#EE99B5;}
    .st58-19{opacity:0.81;fill:#EE99B5;}
    .st56-19{opacity:0.81;fill:#EE99B5;}
    .st55-19{opacity:0.81;fill:#EE99B5;}
    .st53-19{opacity:0.81;fill:#EE99B5;}
    .st52-19{opacity:0.81;fill:#EE99B5;}
    .st51-19{opacity:0.81;fill:#EE99B5;}
    .st48-19{opacity:0.81;fill:#EE99B5;}
    .st46-19{opacity:0.81;fill:#EE99B5;}
    .st38-19{opacity:0.81;fill:#EE99B5;}
    .st37-19{opacity:0.81;fill:#EE99B5;}
    .st36-19{opacity:0.81;fill:#EE99B5;}
    .st35-19{opacity:0.81;fill:#EE99B5;}
    .st32-19{opacity:0.81;fill:#EE99B5;}
    .st24-19{opacity:0.81;fill:#EE99B5;}
    .st23-19{opacity:0.81;fill:#EE99B5;}
    .st22-19{opacity:0.81;fill:#EE99B5;}
    .st20-19{opacity:0.81;fill:#EE99B5;}
    .st19-19{opacity:0.81;fill:#EE99B5;}
    .st18-19{opacity:0.81;fill:#EE99B5;}
    .st17-19{opacity:0.81;fill:#EE99B5;}
    .st16-19{opacity:0.81;fill:#EE99B5;}
    .st15-19{opacity:0.81;fill:#EE99B5;}
    .st14-19{opacity:0.81;fill:#EE99B5;}
    .st12-19{opacity:0.81;fill:#EE99B5;}
    .st11-19{opacity:0.81;fill:#EE99B5;}
    .st10-19{opacity:0.81;fill:#EE99B5;}
    .st9-19{opacity:0.81;fill:#EE99B5;}
    .st7-19{opacity:0.81;fill:#EE99B5;}
    .st6-19{opacity:0.81;fill:#EE99B5;}
    .st3-19{opacity:0.81;fill:#EE99B5;}
    .st2-19{opacity:0.81;fill:#EE99B5;}
    .st019{opacity:0.81;fill:#EE99B5;}


    .st20{opacity:0.81;fill:#E8253D;}
    .st81-20{opacity:0.81;fill:#E8253D;}
    .st80-20{opacity:0.81;fill:#E8253D;}
    .st66-20{opacity:0.81;fill:#E8253D;}
    .st65-20{opacity:0.81;fill:#E8253D;}
    .st63-20{opacity:0.81;fill:#E8253D;}
    .st62-20{opacity:0.81;fill:#E8253D;}
    .st60-20{opacity:0.81;fill:#E8253D;}
    .st53-20{opacity:0.81;fill:#E8253D;}
    .st51-20{opacity:0.81;fill:#E8253D;}
    .st48-20{opacity:0.81;fill:#E8253D;}
    .st46-20{opacity:0.81;fill:#E8253D;}
    .st32-20{opacity:0.81;fill:#E8253D;}
    .st21-20{opacity:0.81;fill:#E8253D;}
    .st17-20{opacity:0.81;fill:#E8253D;}
    .st15-20{opacity:0.81;fill:#E8253D;}
    .st7-20{opacity:0.81;fill:#E8253D;}
    .st3-20{opacity:0.81;fill:#E8253D;}
    .st2-20{opacity:0.81;fill:#E8253D;}
    .st020{opacity:0.81;fill:#E8253D;}


    .st21{opacity:0.81;fill:#A69376;}
    .st81-21{opacity:0.81;fill:#A69376;}
    .st77-21{opacity:0.81;fill:#A69376;}
    .st76-21{opacity:0.81;fill:#A69376;}
    .st75-21{opacity:0.81;fill:#A69376;}
    .st73-21{opacity:0.81;fill:#A69376;}
    .st72-21{opacity:0.81;fill:#A69376;}
    .st71-21{opacity:0.81;fill:#A69376;}
    .st68-21{opacity:0.81;fill:#A69376;}
    .st67-21{opacity:0.81;fill:#A69376;}
    .st66-21{opacity:0.81;fill:#A69376;}
    .st65-21{opacity:0.81;fill:#A69376;}
    .st63-21{opacity:0.81;fill:#A69376;}
    .st62-21{opacity:0.81;fill:#A69376;}
    .st58-21{opacity:0.81;fill:#A69376;}
    .st53-21{opacity:0.81;fill:#A69376;}
    .st52-21{opacity:0.81;fill:#A69376;}
    .st49-21{opacity:0.81;fill:#A69376;}
    .st48-21{opacity:0.81;fill:#A69376;}
    .st46-21{opacity:0.81;fill:#A69376;}
    .st44-21{opacity:0.81;fill:#A69376;}
    .st38-21{opacity:0.81;fill:#A69376;}
    .st37-21{opacity:0.81;fill:#A69376;}
    .st34-21{opacity:0.81;fill:#A69376;}
    .st24-21{opacity:0.81;fill:#A69376;}
    .st16-21{opacity:0.81;fill:#A69376;}
    .st14-21{opacity:0.81;fill:#A69376;}
    .st12-21{opacity:0.81;fill:#A69376;}
    .st9-21{opacity:0.81;fill:#A69376;}
    .st7-21{opacity:0.81;fill:#A69376;}
    .st3-21{opacity:0.81;fill:#A69376;}
    .st2-21{opacity:0.81;fill:#A69376;}
    .st021{opacity:0.81;fill:#A69376;}


    .st22{opacity:0.81;fill:#E5482C;}
    .st81-22{opacity:0.81;fill:#E5482C;}
    .st75-22{opacity:0.81;fill:#E5482C;}
    .st73-22{opacity:0.81;fill:#E5482C;}
    .st72-22{opacity:0.81;fill:#E5482C;}
    .st71-22{opacity:0.81;fill:#E5482C;}
    .st68-22{opacity:0.81;fill:#E5482C;}
    .st67-22{opacity:0.81;fill:#E5482C;}
    .st66-22{opacity:0.81;fill:#E5482C;}
    .st65-22{opacity:0.81;fill:#E5482C;}
    .st63-22{opacity:0.81;fill:#E5482C;}
    .st61-22{opacity:0.81;fill:#E5482C;}
    .st58-22{opacity:0.81;fill:#E5482C;}
    .st53-22{opacity:0.81;fill:#E5482C;}
    .st49-22{opacity:0.81;fill:#E5482C;}
    .st47-22{opacity:0.81;fill:#E5482C;}
    .st46-22{opacity:0.81;fill:#E5482C;}
    .st45-22{opacity:0.81;fill:#E5482C;}
    .st44-22{opacity:0.81;fill:#E5482C;}
    .st38-22{opacity:0.81;fill:#E5482C;}
    .st37-22{opacity:0.81;fill:#E5482C;}
    .st36-22{opacity:0.81;fill:#E5482C;}
    .st35-22{opacity:0.81;fill:#E5482C;}
    .st34-22{opacity:0.81;fill:#E5482C;}
    .st33-22{opacity:0.81;fill:#E5482C;}
    .st21-22{opacity:0.81;fill:#E5482C;}
    .st17-22{opacity:0.81;fill:#E5482C;}
    .st16-22{opacity:0.81;fill:#E5482C;}
    .st14-22{opacity:0.81;fill:#E5482C;}
    .st13-22{opacity:0.81;fill:#E5482C;}
    .st12-22{opacity:0.81;fill:#E5482C;}
    .st11-22{opacity:0.81;fill:#E5482C;}
    .st9-22{opacity:0.81;fill:#E5482C;}
    .st6-22{opacity:0.81;fill:#E5482C;}
    .st5-22{opacity:0.81;fill:#E5482C;}
    .st4-22{opacity:0.81;fill:#E5482C;}
    .st3-22{opacity:0.81;fill:#E5482C;}
    .st2-22{opacity:0.81;fill:#E5482C;}
    .st022{opacity:0.81;fill:#E5482C;}
    .st023{opacity:0.81;fill:#006B37;}


    .st23{opacity:0.81;fill:#006B37;}
    .st73-23{opacity:0.81;fill:#006B37;}
    .st72-23{opacity:0.81;fill:#006B37;}
    .st70-23{opacity:0.81;fill:#006B37;}
    .st66-23{opacity:0.81;fill:#006B37;}
    .st65-23{opacity:0.81;fill:#006B37;}
    .st63-23{opacity:0.81;fill:#006B37;}
    .st62-23{opacity:0.81;fill:#006B37;}
    .st60-23{opacity:0.81;fill:#006B37;}
    .st58-23{opacity:0.81;fill:#006B37;}
    .st56-23{opacity:0.81;fill:#006B37;}
    .st55-23{opacity:0.81;fill:#006B37;}
    .st54-23{opacity:0.81;fill:#006B37;}
    .st53-23{opacity:0.81;fill:#006B37;}
    .st52-23{opacity:0.81;fill:#006B37;}
    .st51-23{opacity:0.81;fill:#006B37;}
    .st49-23{opacity:0.81;fill:#006B37;}
    .st48-23{opacity:0.81;fill:#006B37;}
    .st46-23{opacity:0.81;fill:#006B37;}
    .st44-23{opacity:0.81;fill:#006B37;}
    .st38-23{opacity:0.81;fill:#006B37;}
    .st37-23{opacity:0.81;fill:#006B37;}
    .st33-23{opacity:0.81;fill:#006B37;}
    .st33-230{opacity:0.81;fill:#006B37;}
    .st33-23{opacity:0.81;fill:#006B37;}
    .st32-23{opacity:0.81;fill:#006B37;}
    .st23-23{opacity:0.81;fill:#006B37;}
    .st20-23{opacity:0.81;fill:#006B37;}
    .st19-23{opacity:0.81;fill:#006B37;}
    .st18-23{opacity:0.81;fill:#006B37;}
    .st17-23{opacity:0.81;fill:#006B37;}
    .st16-23{opacity:0.81;fill:#006B37;}
    .st15-23{opacity:0.81;fill:#006B37;}
    .st14-23{opacity:0.81;fill:#006B37;}
    .st9-23{opacity:0.81;fill:#006B37;}
    .st7-23{opacity:0.81;fill:#006B37;}
    .st6-23{opacity:0.81;fill:#006B37;}
    .st3-23{opacity:0.81;fill:#006B37;}
    .st2-23{opacity:0.81;fill:#006B37;}


    .st24{opacity:0.81;fill:#ED327F;}
    .st76-24{opacity:0.81;fill:#ED327F;}
    .st74-24{opacity:0.81;fill:#ED327F;}
    .st73-24{opacity:0.81;fill:#ED327F;}
    .st72-24{opacity:0.81;fill:#ED327F;}
    .st71-24{opacity:0.81;fill:#ED327F;}
    .st68-24{opacity:0.81;fill:#ED327F;}
    .st66-24{opacity:0.81;fill:#ED327F;}
    .st64-24{opacity:0.81;fill:#ED327F;}
    .st65-24{opacity:0.81;fill:#ED327F;}
    .st63-24{opacity:0.81;fill:#ED327F;}
    .st62-24{opacity:0.81;fill:#ED327F;}
    .st60-24{opacity:0.81;fill:#ED327F;}
    .st59-24{opacity:0.81;fill:#ED327F;}
    .st59-240{opacity:0.81;fill:#ED327F;}
    .st58-24{opacity:0.81;fill:#ED327F;}
    .st56-24{opacity:0.81;fill:#ED327F;}
    .st55-24{opacity:0.81;fill:#ED327F;}
    .st53-24{opacity:0.81;fill:#ED327F;}
    .st52-24{opacity:0.81;fill:#ED327F;}
    .st51-24{opacity:0.81;fill:#ED327F;}
    .st48-24{opacity:0.81;fill:#ED327F;}
    .st48-240{opacity:0.81;fill:#ED327F;}
    .st44-24{opacity:0.81;fill:#ED327F;}
    .st42-24{opacity:0.81;fill:#ED327F;}
    .st41-24{opacity:0.81;fill:#ED327F;}
    .st40-24{opacity:0.81;fill:#ED327F;}
    .st38-24{opacity:0.81;fill:#ED327F;}
    .st38-240{opacity:0.81;fill:#ED327F;}
    .st37-24{opacity:0.81;fill:#ED327F;}
    .st36-24{opacity:0.81;fill:#ED327F;}
    .st35-24{opacity:0.81;fill:#ED327F;}
    .st34-24{opacity:0.81;fill:#ED327F;}
    .st33-24{opacity:0.81;fill:#ED327F;}
    .st32-24{opacity:0.81;fill:#ED327F;}
    .st32-240{opacity:0.81;fill:#ED327F;}
    .st31-24{opacity:0.81;fill:#ED327F;}
    .st24-24{opacity:0.81;fill:#ED327F;}
    .st23-24{opacity:0.81;fill:#ED327F;}
    .st20-24{opacity:0.81;fill:#ED327F;}
    .st19-24{opacity:0.81;fill:#ED327F;}
    .st18-24{opacity:0.81;fill:#ED327F;}
    .st17-24{opacity:0.81;fill:#ED327F;}
    .st16-24{opacity:0.81;fill:#ED327F;}
    .st16-240{opacity:0.81;fill:#ED327F;}
    .st15-24{opacity:0.81;fill:#ED327F;}
    .st14-24{opacity:0.81;fill:#ED327F;}
    .st12-24{opacity:0.81;fill:#ED327F;}
    .st11-24{opacity:0.81;fill:#ED327F;}
    .st10-24{opacity:0.81;fill:#ED327F;}
    .st9-24{opacity:0.81;fill:#ED327F;}
    .st8-24{opacity:0.81;fill:#ED327F;}
    .st8-24{opacity:0.81;fill:#ED327F;}
    .st7-24{opacity:0.81;fill:#ED327F;}
    .st6-24{opacity:0.81;fill:#ED327F;}
    .st2-24{opacity:0.81;fill:#ED327F;}
    .st025{opacity:0.81;fill:#82CBEA;}


    .st25{opacity:0.81;fill:#82CBEA;}
    .st80-25{opacity:0.81;fill:#82CBEA;}
    .st75-25{opacity:0.81;fill:#82CBEA;}
    .st72-25{opacity:0.81;fill:#82CBEA;}
    .st67-25{opacity:0.81;fill:#82CBEA;}
    .st66-25{opacity:0.81;fill:#82CBEA;}
    .st65-25{opacity:0.81;fill:#82CBEA;}
    .st63-25{opacity:0.81;fill:#82CBEA;}
    .st62-25{opacity:0.81;fill:#82CBEA;}
    .st60-25{opacity:0.81;fill:#82CBEA;}
    .st59-25{opacity:0.81;fill:#82CBEA;}
    .st58-25{opacity:0.81;fill:#82CBEA;}
    .st56-25{opacity:0.81;fill:#82CBEA;}
    .st55-25{opacity:0.81;fill:#82CBEA;}
    .st54-25{opacity:0.81;fill:#82CBEA;}
    .st53-25{opacity:0.81;fill:#82CBEA;}
    .st52-25{opacity:0.81;fill:#82CBEA;}
    .st51-25{opacity:0.81;fill:#82CBEA;}
    .st49-25{opacity:0.81;fill:#82CBEA;}
    .st48-25{opacity:0.81;fill:#82CBEA;}
    .st38-25{opacity:0.81;fill:#82CBEA;}
    .st37-25{opacity:0.81;fill:#82CBEA;}
    .st33-25{opacity:0.81;fill:#82CBEA;}
    .st32-25{opacity:0.81;fill:#82CBEA;}
    .st22-25{opacity:0.81;fill:#82CBEA;}
    .st21-25{opacity:0.81;fill:#82CBEA;}
    .st20-25{opacity:0.81;fill:#82CBEA;}
    .st19-25{opacity:0.81;fill:#82CBEA;}
    .st18-25{opacity:0.81;fill:#82CBEA;}
    .st17-25{opacity:0.81;fill:#82CBEA;}
    .st15-25{opacity:0.81;fill:#82CBEA;}
    .st7-25{opacity:0.81;fill:#82CBEA;}
    .st6-25{opacity:0.81;fill:#82CBEA;}
    .st3-25{opacity:0.81;fill:#82CBEA;}
    .st2-25{opacity:0.81;fill:#82CBEA;}
    .st026{opacity:0.61;fill:#4B8F41;}


    .st26{opacity:0.61;fill:#4B8F41;}
    .st80-26{opacity:0.61;fill:#4B8F41;}
    .st75-26{opacity:0.61;fill:#4B8F41;}
    .st73-26{opacity:0.61;fill:#4B8F41;}
    .st72-26{opacity:0.61;fill:#4B8F41;}
    .st68-26{opacity:0.61;fill:#4B8F41;}
    .st66-26{opacity:0.61;fill:#4B8F41;}
    .st65-26{opacity:0.61;fill:#4B8F41;}
    .st64-26{opacity:0.61;fill:#4B8F41;}
    .st63-26{opacity:0.61;fill:#4B8F41;}
    .st62-26{opacity:0.61;fill:#4B8F41;}
    .st61-26{opacity:0.61;fill:#4B8F41;}
    .st59-26{opacity:0.61;fill:#4B8F41;}
    .st58-26{opacity:0.61;fill:#4B8F41;}
    .st56-26{opacity:0.61;fill:#4B8F41;}
    .st55-26{opacity:0.61;fill:#4B8F41;}
    .st53-26{opacity:0.61;fill:#4B8F41;}
    .st51-26{opacity:0.61;fill:#4B8F41;}
    .st50-26{opacity:0.61;fill:#4B8F41;}
    .st49-26{opacity:0.61;fill:#4B8F41;}
    .st48-26{opacity:0.61;fill:#4B8F41;}
    .st44-26{opacity:0.61;fill:#4B8F41;}
    .st42-26{opacity:0.61;fill:#4B8F41;}
    .st41-26{opacity:0.61;fill:#4B8F41;}
    .st38-26{opacity:0.61;fill:#4B8F41;}
    .st33-26{opacity:0.61;fill:#4B8F41;}
    .st24-26{opacity:0.61;fill:#4B8F41;}
    .st23-26{opacity:0.61;fill:#4B8F41;}
    .st20-26{opacity:0.61;fill:#4B8F41;}
    .st19-26{opacity:0.61;fill:#4B8F41;}
    .st18-26{opacity:0.61;fill:#4B8F41;}
    .st17-26{opacity:0.61;fill:#4B8F41;}
    .st16-26{opacity:0.61;fill:#4B8F41;}
    .st15-26{opacity:0.61;fill:#4B8F41;}
    .st14-26{opacity:0.61;fill:#4B8F41;}
    .st12-26{opacity:0.61;fill:#4B8F41;}
    .st10-26{opacity:0.61;fill:#4B8F41;}
    .st9-26{opacity:0.61;fill:#4B8F41;}
    .st8-26{opacity:0.61;fill:#4B8F41;}
    .st6-26{opacity:0.61;fill:#4B8F41;}


    .st27{opacity:0.61;fill:#0A5C2F;}
    .st75-27{opacity:0.61;fill:#0A5C2F;}
    .st72-27{opacity:0.61;fill:#0A5C2F;}
    

    .st28{opacity:0.81;fill:#7465A1;}
    .st80-28{opacity:0.81;fill:#7465A1;}
    .st79-28{opacity:0.81;fill:#7465A1;}
    .st78-28{opacity:0.81;fill:#7465A1;}
    .st75-28{opacity:0.81;fill:#7465A1;}
    .st74-28{opacity:0.81;fill:#7465A1;}
    .st73-28{opacity:0.81;fill:#7465A1;}
    .st71-28{opacity:0.81;fill:#7465A1;}
    .st68-28{opacity:0.81;fill:#7465A1;}
    .st58-28{opacity:0.81;fill:#7465A1;}
    .st49-28{opacity:0.81;fill:#7465A1;}
    .st44-28{opacity:0.81;fill:#7465A1;}
    .st37-28{opacity:0.81;fill:#7465A1;}
    .st33-28{opacity:0.81;fill:#7465A1;}
    .st31-28{opacity:0.81;fill:#7465A1;}
    .st27-28{opacity:0.81;fill:#7465A1;}
    .st22-28{opacity:0.81;fill:#7465A1;}
    .st14-28{opacity:0.81;fill:#7465A1;}
    .st10-28{opacity:0.81;fill:#7465A1;}
    .st9-28{opacity:0.81;fill:#7465A1;}
    .st8-28{opacity:0.81;fill:#7465A1;}
    .st5-28{opacity:0.81;fill:#7465A1;}


    .st29{opacity:0.81;fill:#F28320;}
    .st79-29{opacity:0.81;fill:#F28320;}
    .st78-29{opacity:0.81;fill:#F28320;}
    .st77-29{opacity:0.81;fill:#F28320;}
    .st73-29{opacity:0.81;fill:#F28320;}
    .st72-29{opacity:0.81;fill:#F28320;}
    .st68-29{opacity:0.81;fill:#F28320;}
    .st64-29{opacity:0.81;fill:#F28320;}
    .st53-29{opacity:0.81;fill:#F28320;}
    .st50-29{opacity:0.81;fill:#F28320;}
    .st44-29{opacity:0.81;fill:#F28320;}
    .st43-29{opacity:0.81;fill:#F28320;}
    .st42-29{opacity:0.81;fill:#F28320;}
    .st41-29{opacity:0.81;fill:#F28320;}
    .st36-29{opacity:0.81;fill:#F28320;}
    .st35-29{opacity:0.81;fill:#F28320;}
    .st33-29{opacity:0.81;fill:#F28320;}
    .st31-29{opacity:0.81;fill:#F28320;}
    .st24-29{opacity:0.81;fill:#F28320;}
    .st23-29{opacity:0.81;fill:#F28320;}
    .st22-29{opacity:0.81;fill:#F28320;}
    .st14-29{opacity:0.81;fill:#F28320;}
    .st13-29{opacity:0.81;fill:#F28320;}
    .st12-29{opacity:0.81;fill:#F28320;}
    .st10-29{opacity:0.81;fill:#F28320;}
    .st9-29{opacity:0.81;fill:#F28320;}
    .st8-29{opacity:0.81;fill:#F28320;}

    .st30{opacity:0.61;fill:#A09BBA;}
    .st75-30{opacity:0.61;fill:#A09BBA;}
    .st72-30{opacity:0.61;fill:#A09BBA;}
    .st64-30{opacity:0.61;fill:#A09BBA;}
    .st63-30{opacity:0.61;fill:#A09BBA;}
    .st62-30{opacity:0.61;fill:#A09BBA;}
    .st58-30{opacity:0.61;fill:#A09BBA;}
    .st55-30{opacity:0.61;fill:#A09BBA;}
    .st53-30{opacity:0.61;fill:#A09BBA;}
    .st49-30{opacity:0.61;fill:#A09BBA;}
    .st38-30{opacity:0.61;fill:#A09BBA;}
    .st36-30{opacity:0.61;fill:#A09BBA;}
    .st33-30{opacity:0.61;fill:#A09BBA;}
    .st32-30{opacity:0.61;fill:#A09BBA;}
    .st20-30{opacity:0.61;fill:#A09BBA;}
    .st19-30{opacity:0.61;fill:#A09BBA;}
    .st18-30{opacity:0.61;fill:#A09BBA;}
    .st17-30{opacity:0.61;fill:#A09BBA;}
    .st16-30{opacity:0.61;fill:#A09BBA;}
    .st15-30{opacity:0.61;fill:#A09BBA;}
    .st14-30{opacity:0.61;fill:#A09BBA;}
    .st12-30{opacity:0.61;fill:#A09BBA;}
    .st7-30{opacity:0.61;fill:#A09BBA;}
    .st6-30{opacity:0.61;fill:#A09BBA;}


    .st31{opacity:0.81;fill:#D81471;}
    .st77-31{opacity:0.81;fill:#D81471;}
    .st72-31{opacity:0.81;fill:#D81471;}
    .st71-31{opacity:0.81;fill:#D81471;}
    .st70-31{opacity:0.81;fill:#D81471;}
    .st68-31{opacity:0.81;fill:#D81471;}
    .st67-31{opacity:0.81;fill:#D81471;}
    .st64-31{opacity:0.81;fill:#D81471;}
    .st44-31{opacity:0.81;fill:#D81471;}
    .st42-31{opacity:0.81;fill:#D81471;}
    .st41-31{opacity:0.81;fill:#D81471;}
    .st40-31{opacity:0.81;fill:#D81471;}
    .st39-31{opacity:0.81;fill:#D81471;}
    .st38-31{opacity:0.81;fill:#D81471;}
    .st36-31{opacity:0.81;fill:#D81471;}
    .st34-31{opacity:0.81;fill:#D81471;}
    .st31-31{opacity:0.81;fill:#D81471;}
    .st28-31{opacity:0.81;fill:#D81471;}
    .st23-31{opacity:0.81;fill:#D81471;}
    .st22-31{opacity:0.81;fill:#D81471;}
    .st13-31{opacity:0.81;fill:#D81471;}
    .st12-31{opacity:0.81;fill:#D81471;}
    .st11-31{opacity:0.81;fill:#D81471;}
    .st7-31{opacity:0.81;fill:#D81471;}
    .st6-31{opacity:0.81;fill:#D81471;}
    .st5-31{opacity:0.81;fill:#D81471;}
    .st2-31{opacity:0.81;fill:#D81471;}
    .st3-31{opacity:0.81;fill:#D81471;}


    .st32{opacity:0.81;fill:#FCF5A3;}
    .st77-32{opacity:0.81;fill:#FCF5A3;}
    .st72-32{opacity:0.81;fill:#FCF5A3;}
    .st64-32{opacity:0.81;fill:#FCF5A3;}
    .st53-32{opacity:0.81;fill:#FCF5A3;}
    .st48-32{opacity:0.81;fill:#FCF5A3;}
    .st43-32{opacity:0.81;fill:#FCF5A3;}
    .st42-32{opacity:0.81;fill:#FCF5A3;}
    .st41-32{opacity:0.81;fill:#FCF5A3;}
    .st36-32{opacity:0.81;fill:#FCF5A3;}
    .st26-32{opacity:0.81;fill:#FCF5A3;}
    .st32-32{opacity:0.81;fill:#FCF5A3;}
    .st31-32{opacity:0.81;fill:#FCF5A3;}
    .st26-32{opacity:0.81;fill:#FCF5A3;}
    .st15-32{opacity:0.81;fill:#FCF5A3;}
    .st14-32{opacity:0.81;fill:#FCF5A3;}
    .st13-32{opacity:0.81;fill:#FCF5A3;}
    .st12-32{opacity:0.81;fill:#FCF5A3;}
    .st11-32{opacity:0.81;fill:#FCF5A3;}
    .st10-32{opacity:0.81;fill:#FCF5A3;}
    .st8-32{opacity:0.81;fill:#FCF5A3;}
    .st6-32{opacity:0.81;fill:#FCF5A3;}


    .st33{opacity:0.61;fill:#EE2C40;}
    .st75-33{opacity:0.61;fill:#EE2C40;}
    .st72-33{opacity:0.61;fill:#EE2C40;}
    .st64-33{opacity:0.61;fill:#EE2C40;}
    .st63-33{opacity:0.61;fill:#EE2C40;}
    .st59-33{opacity:0.61;fill:#EE2C40;}
    .st56-33{opacity:0.61;fill:#EE2C40;}
    .st55-33{opacity:0.61;fill:#EE2C40;}
    .st53-33{opacity:0.61;fill:#EE2C40;}
    .st52-33{opacity:0.61;fill:#EE2C40;}
    .st51-33{opacity:0.61;fill:#EE2C40;}
    .st49-33{opacity:0.61;fill:#EE2C40;}
    .st22-33{opacity:0.61;fill:#EE2C40;}
    .st20-33{opacity:0.61;fill:#EE2C40;}
    .st19-33{opacity:0.61;fill:#EE2C40;}
    .st18-33{opacity:0.61;fill:#EE2C40;}
    .st17-33{opacity:0.61;fill:#EE2C40;}
    .st16-33{opacity:0.61;fill:#EE2C40;}
    .st15-33{opacity:0.61;fill:#EE2C40;}
    .st3-33{opacity:0.61;fill:#EE2C40;}

    .st34{opacity:0.61;fill:#ADC56C;}
    .st70-34{opacity:0.61;fill:#ADC56C;}
    .st58-34{opacity:0.61;fill:#ADC56C;}
    .st53-34{opacity:0.61;fill:#ADC56C;}
    .st48-34{opacity:0.61;fill:#ADC56C;}
    .st38-34{opacity:0.61;fill:#ADC56C;}
    .st33-34{opacity:0.61;fill:#ADC56C;}
    .st32-34{opacity:0.61;fill:#ADC56C;}
    .st23-34{opacity:0.61;fill:#ADC56C;}
    .st21-34{opacity:0.61;fill:#ADC56C;}
    .st19-34{opacity:0.61;fill:#ADC56C;}
    .st18-34{opacity:0.61;fill:#ADC56C;}
    .st17-34{opacity:0.61;fill:#ADC56C;}
    .st16-34{opacity:0.61;fill:#ADC56C;}
    .st12-34{opacity:0.61;fill:#ADC56C;}


    .st35{opacity:0.61;fill:#7F3482;}
    .st72-35{opacity:0.61;fill:#7F3482;}
    .st71-35{opacity:0.61;fill:#7F3482;}
    .st66-35{opacity:0.61;fill:#7F3482;}
    .st65-35{opacity:0.61;fill:#7F3482;}
    .st64-35{opacity:0.61;fill:#7F3482;}
    .st63-35{opacity:0.61;fill:#7F3482;}
    .st58-35{opacity:0.61;fill:#7F3482;}
    .st52-35{opacity:0.61;fill:#7F3482;}
    .st48-35{opacity:0.61;fill:#7F3482;}
    .st48-350{opacity:0.61;fill:#7F3482;}
    .st31-35{opacity:0.61;fill:#7F3482;}
    .st29-35{opacity:0.61;fill:#7F3482;}
    .st28-35{opacity:0.61;fill:#7F3482;}
    .st16-35{opacity:0.61;fill:#7F3482;}
    .st3-35{opacity:0.61;fill:#7F3482;}


    .st36{opacity:0.61;fill:#D81471;}
    .st70-36{opacity:0.61;fill:#D81471;}
    .st68-36{opacity:0.61;fill:#D81471;}
    .st67-36{opacity:0.61;fill:#D81471;}
    .st65-36{opacity:0.61;fill:#D81471;}
    .st64-36{opacity:0.61;fill:#D81471;}
    .st62-36{opacity:0.61;fill:#D81471;}
    .st58-36{opacity:0.61;fill:#D81471;}
    .st46-36{opacity:0.61;fill:#D81471;}
    .st44-36{opacity:0.61;fill:#D81471;}
    .st42-36{opacity:0.61;fill:#D81471;}
    .st42-360{opacity:0.61;fill:#D81471;}
    .st38-36{opacity:0.61;fill:#D81471;}
    .st38-360{opacity:0.61;fill:#D81471;}
    .st37-360{opacity:0.61;fill:#D81471;}
    .st37-36{opacity:0.61;fill:#D81471;}
    .st36-36{opacity:0.61;fill:#D81471;}
    .st33-36{opacity:0.61;fill:#D81471;}
    .st33-360{opacity:0.61;fill:#D81471;}
    .st33-36{opacity:0.61;fill:#D81471;}
    .st32-36{opacity:0.61;fill:#D81471;}
    .st17-36{opacity:0.61;fill:#D81471;}
    .st16-36{opacity:0.61;fill:#D81471;}
    .st15-36{opacity:0.61;fill:#D81471;}
    .st14-36{opacity:0.61;fill:#D81471;}
    .st9-36{opacity:0.61;fill:#D81471;}
    .st8-36{opacity:0.61;fill:#D81471;}
    .st37{opacity:0.61;fill:#F28320;}
    .st6-37{opacity:0.61;fill:#F28320;}


    .st38{opacity:0.61;fill:#0E86C8;}
    .st52-38{opacity:0.61;fill:#0E86C8;}
    .st49-38{opacity:0.61;fill:#0E86C8;}
    .st48-38{opacity:0.61;fill:#0E86C8;}
    .st16-38{opacity:0.61;fill:#0E86C8;}

    
    .st39{opacity:0.81;fill:#9BCDE0;}
    .st70-39{opacity:0.81;fill:#9BCDE0;}
    .st62-39{opacity:0.81;fill:#9BCDE0;}
    .st60-39{opacity:0.81;fill:#9BCDE0;}
    .st59-39{opacity:0.81;fill:#9BCDE0;}
    .st56-39{opacity:0.81;fill:#9BCDE0;}
    .st55-39{opacity:0.81;fill:#9BCDE0;}
    .st52-39{opacity:0.81;fill:#9BCDE0;}
    .st51-39{opacity:0.81;fill:#9BCDE0;}
    .st48-39{opacity:0.81;fill:#9BCDE0;}
    .st33-39{opacity:0.81;fill:#9BCDE0;}
    .st32-39{opacity:0.81;fill:#9BCDE0;}
    .st22-39{opacity:0.81;fill:#9BCDE0;}
    .st20-39{opacity:0.81;fill:#9BCDE0;}
    .st19-39{opacity:0.81;fill:#9BCDE0;}
    .st18-39{opacity:0.81;fill:#9BCDE0;}
    .st17-39{opacity:0.81;fill:#9BCDE0;}
    .st16-39{opacity:0.81;fill:#9BCDE0;}
    .st15-39{opacity:0.81;fill:#9BCDE0;}
    .st9-39{opacity:0.81;fill:#9BCDE0;}
    .st8-39{opacity:0.81;fill:#9BCDE0;}


    .st40{opacity:0.61;fill:#00B3E2;}
    .st70-40{opacity:0.61;fill:#00B3E2;}
    

    .st41{opacity:0.6;fill:#00B3E2;}
    .st64-41{opacity:0.6;fill:#00B3E2;}
    .st62-41{opacity:0.6;fill:#00B3E2;}
    .st55-41{opacity:0.6;fill:#00B3E2;}
    .st51-41{opacity:0.6;fill:#00B3E2;}
    .st48-41{opacity:0.6;fill:#00B3E2;}
    .st44-41{opacity:0.6;fill:#00B3E2;}
    .st32-41{opacity:0.6;fill:#00B3E2;}
    .st22-41{opacity:0.6;fill:#00B3E2;}
    .st20-41{opacity:0.6;fill:#00B3E2;}
    .st19-41{opacity:0.6;fill:#00B3E2;}
    .st18-41{opacity:0.6;fill:#00B3E2;}
    .st17-41{opacity:0.6;fill:#00B3E2;}
    .st16-41{opacity:0.6;fill:#00B3E2;}
    .st15-41{opacity:0.6;fill:#00B3E2;}
    .st14-41{opacity:0.6;fill:#00B3E2;}
    .st10-41{opacity:0.6;fill:#00B3E2;}
    .st6-41{opacity:0.6;fill:#00B3E2;}
    .st041{opacity:0.6;fill:#00B3E2;}

    .st42{opacity:0.81;fill:#B399C9;}
    .st63-42{opacity:0.81;fill:#B399C9;}
    .st62-42{opacity:0.81;fill:#B399C9;}
    .st59-42{opacity:0.81;fill:#B399C9;}
    .st56-42{opacity:0.81;fill:#B399C9;}
    .st55-42{opacity:0.81;fill:#B399C9;}
    .st52-42{opacity:0.81;fill:#B399C9;}
    .st51-42{opacity:0.81;fill:#B399C9;}
    .st49-42{opacity:0.81;fill:#B399C9;}
    .st48-42{opacity:0.81;fill:#B399C9;}
    .st33-42{opacity:0.81;fill:#B399C9;}
    .st32-42{opacity:0.81;fill:#B399C9;}
    .st32-42{opacity:0.81;fill:#B399C9;}
    .st20-42{opacity:0.81;fill:#B399C9;}
    .st19-42{opacity:0.81;fill:#B399C9;}
    .st18-42{opacity:0.81;fill:#B399C9;}
    .st17-42{opacity:0.81;fill:#B399C9;}
    .st16-42{opacity:0.81;fill:#B399C9;}
    .st15-42{opacity:0.81;fill:#B399C9;}
    .st2-42{opacity:0.81;fill:#B399C9;}
    .st042{opacity:0.81;fill:#B399C9;}

    .st43{opacity:0.61;fill:#F47D42;}
    .st60-43{opacity:0.61;fill:#F47D42;}
    
	.st44{fill:none;}
	.st45{opacity:0.81;}
	.st46{opacity:0.81;fill:#F1F2F2;}
	.st47{opacity:0.81;fill:#404041;}
	.st48{fill:#F1F2F2;}
	.st49{opacity:0.51;fill:#404041;}
	.st50{fill:none;stroke:#F1F2F2;stroke-miterlimit:10;}
	.st51{fill:#A5A7AA;}
	.st52{font-family:'Helvetica';}
	.st53{font-size:9px;}
	.st54{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
	.st55{opacity:0.61;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
	.st56{opacity:0.61;fill:#FFFFFF;}
	.st57{font-family:'Helvetica-Bold';}
	.st58{font-size:12.3743px;}
	.st59{opacity:0.61;fill:#B5B7B7;}
	.st60{opacity:0.61;}
	.st61{fill:#CECCC9;}
	.st62{fill:#B5B7B7;}
	.st63{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
	.st64{fill:#FFFFFF;}
	.st65{fill:#F9F5F1;}
	.st66{fill:#959898;}
	.st67{fill:#E18776;}
	.st68{fill:#A06555;}
	.st69{fill:#D25959;}
	.st70{fill:#BD2F2E;}
	.st71{fill:#754F3B;}
	.st72{fill:#CF4142;}
	.st73{fill:#C6C6C7;}
	.st74{fill:#8A5D48;}
	.st75{fill:#D1836C;}
	.st76{fill:#B5B7B7;stroke:#95979A;stroke-width:0.5;stroke-miterlimit:10;}
	.st77{opacity:0.6;fill:#B5B7B7;}
	.st78{fill:none;stroke:#949696;stroke-width:0.5;stroke-miterlimit:10;}
	.st79{opacity:0.61;fill:#A4A6A6;}
	.st80{opacity:0.61;fill:#B5B7B7;stroke:#95979A;stroke-width:0.5;stroke-miterlimit:10;}
	.st81{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#91268F;stroke-width:2;stroke-miterlimit:10;}
	.st82{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#F4CFCE;stroke-width:2;stroke-miterlimit:10;}
	.st83{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#DC2B4A;stroke-width:2;stroke-miterlimit:10;}
	.st84{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#C49A6B;stroke-width:2;stroke-miterlimit:10;}
	.st85{opacity:0.81;fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#00957F;stroke-width:2;stroke-miterlimit:10;}
	.st86{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#8A5D3B;stroke-width:2;stroke-miterlimit:10;}
	.st87{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#D7E7B0;stroke-width:2;stroke-miterlimit:10;}
	.st88{fill-rule:evenodd;clip-rule:evenodd;fill:#F1F2F2;}
	.st89{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#E40F71;stroke-width:2;stroke-miterlimit:10;}
	.st90{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#55348B;stroke-width:2;stroke-miterlimit:10;}
	.st91{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#FFF68D;stroke-width:2;stroke-miterlimit:10;}
	.st92{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#FFDA39;stroke-width:2;stroke-miterlimit:10;}
	.st93{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#EF7C31;stroke-width:2;stroke-miterlimit:10;}
    .st94{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#AA3C63;stroke-width:2;stroke-miterlimit:10;}
    
#node1{cursor: pointer;}
#node2{cursor: pointer;}
#node3{cursor: pointer;}
#node4{cursor: pointer;}
#node5{cursor: pointer;}
#node6{cursor: pointer;}
#node7{cursor: pointer;}
#node8{cursor: pointer;}
#node9{cursor: pointer;}